html,
body {
  background-color: #312e38;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  /* padding-top: 80px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #312e38;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.form-label {
  color: #ffc107;
}

/* Margins dos botões das páginas */

.botao-salvar {
  margin-right: 30px;
}

.salvar-contact {
  margin-right: 30px;
}

.voltar {
  margin-left: 30px;
}

/* Container dos botões para alinhamento */

.alinhar-botoes {
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  #__next {
    /* padding-top: 80px; */
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    background-color: #312e38;
  }
}
